git+https://github.com/kaushikb11/pytube.git
lightning
packaging==21.3
fastapi[all]==0.78.0
fsspec==2022.1.0
py==1.11.0
starsessions==1.2.3
numpy==1.22.4
Pillow==9.1.1
opencv-python-headless==4.5.5.64
torch==1.11.0
torchvision==0.12.0
git+https://github.com/openai/CLIP.git
