git+https://github.com/kaushikb11/pytube.git
lightning==2.0.*
packaging==23.0
fastapi[all]==0.95.1
fsspec[http]>=2021.05.0, !=2021.06.0, <2023.4.0
py==1.11.0
starsessions==1.2.3
numpy==1.24.2
Pillow==9.4.0
opencv-python-headless==4.7.0.72
torch==2.0.0
torchvision==0.15.1
git+https://github.com/openai/CLIP.git
