git+https://github.com/kaushikb11/pytube.git
lightning==1.8.*
packaging==21.3
fastapi[all]==0.88.0
fsspec[http]>=2021.05.0, !=2021.06.0, <2022.8.0
py==1.11.0
starsessions==1.2.3
numpy==1.22.4
Pillow==9.1.1
opencv-python-headless==4.7.0.68
torch==1.11.0
torchvision==0.12.0
git+https://github.com/openai/CLIP.git
